@model MVCTemplate.ViewModels.ProductDashboardVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="card shadow-sm border-0 mb-4" style="max-width: 400px;">
    <div class="card-body text-center">
        <h5 class="card-title text-muted">Current Products</h5>
        <h1 class="display-4">@Model.ProductCount</h1>
        <hr />
        <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-primary mt-2">SHOW ALL</a>
    </div>
</div>

<script>
    // animation
    $(document).ready(function () {
        $(".app-main__inner").animate({ opacity: 1 }, 10);
    });
</script>