@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<script>
    // animation
    $(document).ready(function () {
        $(".app-main__inner").animate({ opacity: 1 }, 10);
    });
</script>