@{
    ViewData["Title"] = "Generate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="lnr-bookmark icon-gradient bg-premium-dark"></i>
                </div>
                <div>
                    <span class="text-primary">
                        <svg viewBox="0 0 240 40" width="240" height="40" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle;">
                            <text x="0" y="30" font-family="Arial, sans-serif" font-size="32" fill="none" stroke="#007bff" stroke-width="1.5" stroke-linejoin="round" class="draw-text">
                                Generate
                            </text>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">
                    <a href="@Url.Action("ExportToExcel", "Generate", new { area = "Admin" })" class="btn btn-success" id="button-excel">
                        <i class="fa-regular fa-file-excel" style="color: #ffffff;"></i>
                        Export All
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    // animation
    $(document).ready(function () {
        $(".app-main__inner").animate({ opacity: 1 }, 10);
    });
</script>

