.app-main__inner {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#logoOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

    #logoOverlay img {
        max-width: 600px;
        max-height: 336px;
        animation: slideLeftRight 2s ease-in-out infinite alternate;
    }

@keyframes slideLeftRight {
    from {
        transform: translateX(-50px);
    }

    to {
        transform: translateX(50px);
    }
}

/* For staggered load effect */
.staggered {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

    .staggered.show {
        opacity: 1;
        transform: translateY(0);
    }